<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.DealerAccountNumberMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.DealerAccountNumber">
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="dealerName" column="dealer_name" jdbcType="VARCHAR"/>
            <result property="contacts" column="contacts" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="dealerStatus" column="dealer_status" jdbcType="VARCHAR"/>
            <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="dealerCode" column="dealer_code" jdbcType="VARCHAR"/>
            <result property="accountCode" column="account_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_name,
        dealer_name,
        contacts,
        phone_number,
        email,
        remarks,
        dealer_status,
        created_by,
        modified_by,
        password
    </sql>
    <!-- 添加经销商总帐号信息 -->
    <insert id="insertDealerAccountNumberInfo" parameterType="com.macro.ob.pojo.DealerAccountNumber">
        insert into macrodb.dealer_account_number(<include refid="Base_Column_List"></include>)
        values (#{userName},#{dealerName},#{contacts},#{phoneNumber},#{email},#{remarks},"启用",#{createdBy},#{modifiedBy},"123456")
    </insert>
    <!-- 删除经销商总账号信息 -->
    <delete id="deleteDealerAccountNumberInfoById" parameterType="com.macro.ob.pojo.DealerAccountNumber">
        delete from macrodb.dealer_account_number
        <where>
            account_code in
            <foreach item="accountCode" collection="accountCodes" open="(" separator="," close=")">
                #{accountCode}
            </foreach>
        </where>
    </delete>
    <!-- 更新经销商总帐号信息 -->
    <update id="updataDealerAccountNumberInfo" parameterType="com.macro.ob.pojo.DealerAccountNumber">
        update macrodb.dealer_account_number
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != null">user_name=#{userName},</if>
            <if test="dealerName != null">dealer_name=#{dealerName},</if>
            <if test="contacts != null">contacts=#{contacts},</if>
            <if test="phoneNumber != null">phone_number=#{phoneNumber},</if>
            <if test="email != null">email=#{email},</if>
            <if test="remarks != null">remarks=#{remarks},</if>
            updated_time=now()
        </trim>
        where account_code=#{accountCode};
    </update>
    <!-- 查询经销商总账号的信息 -->
    <select id="selectDealerAccountNumberInfoByLike" parameterType="com.macro.ob.pojo.DealerAccountNumber" resultMap="BaseResultMap">
        select account_code,dealer_name,user_name,contacts,email,phone_number,dealer_status,created_by,created_time,modified_by,updated_time,remarks
        from macrodb.dealer_account_number
        <where>
            <if test="dealerName != null">
                dealer_name like CONCAT('%',#{dealerName},'%')
                or getPy(dealer_name) like CONCAT('%',#{dealerName},'%')
            </if>
            <if test="userName != null">
                and user_name like CONCAT('%',#{userName},'%')
            </if>
            <if test="dealerStatus != null">
                and dealer_status=#{dealerStatus}
            </if>
        </where>
    </select>


</mapper>
