<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.FactoryInventoryMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.FactoryInventory">
            <id property="productCode" column="product_code" jdbcType="INTEGER"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productCategory" column="product_category" jdbcType="VARCHAR"/>
            <result property="warehouseName" column="warehouse_name" jdbcType="VARCHAR"/>
            <result property="warehouseCode" column="warehouse_code" jdbcType="INTEGER"/>
            <result property="availableQuantity" column="available_quantity" jdbcType="INTEGER"/>
            <result property="occupationQuantity" column="occupation_quantity" jdbcType="INTEGER"/>
            <result property="realQuantity" column="real_quantity" jdbcType="INTEGER"/>
            <result property="kitchenRealQuantity" column="kitchen_real_quantity" jdbcType="INTEGER"/>
            <result property="kitchenOccupationQuantity" column="kitchen_occupation_quantity" jdbcType="INTEGER"/>
            <result property="kitchenSubsidiaryReal" column="kitchen_subsidiary_real" jdbcType="INTEGER"/>
            <result property="kitchenSubsidiaryQuantity" column="kitchen_subsidiary_quantity" jdbcType="INTEGER"/>
            <result property="gasRealQuantity" column="gas_real_quantity" jdbcType="INTEGER"/>
            <result property="gasOccupationQuantity" column="gas_occupation_quantity" jdbcType="INTEGER"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        product_code,product_name,product_category,
        warehouse_name,warehouse_code,available_quantity,
        occupation_quantity,real_quantity,kitchen_real_quantity,
        kitchen_occupation_quantity,kitchen_subsidiary_real,kitchen_subsidiary_quantity,
        gas_real_quantity,gas_occupation_quantity,created_time,
        updated_time
    </sql>
    <select id="FactoryInventorySelect" parameterType="FactoryInventory" resultType="FactoryInventory">
        select product_code,product_name,product_category,
               warehouse_name,warehouse_code,available_quantity,
               occupation_quantity,real_quantity,kitchen_real_quantity,
               kitchen_occupation_quantity,kitchen_subsidiary_real,kitchen_subsidiary_quantity,
               gas_real_quantity,gas_occupation_quantity from factory_inventory
        <where>
        <if test="productCode != null">
            AND product_code like concat('%', #{productCode},'%')
        </if>

        <if test="productName != null">
            AND product_name like concat('%', #{productName},'%')
        </if>
        <if test="productCategory != null">
            AND product_category like concat('%', #{productCategory},'%')
        </if>
        <if test="warehouseName != null">
            AND warehouse_name like concat('%', #{warehouseName},'%')
        </if>
        <if test="warehouseCode != null">
            AND warehouse_code like concat('%', #{warehouseCode},'%')
        </if>
        </where>
    </select>
</mapper>
