<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.OperatingAccountMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.OperatingAccount">
            <id property="operationAccountId" column="operation_account_id" jdbcType="INTEGER"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="pwd" column="pwd" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="affiliation" column="affiliation" jdbcType="VARCHAR"/>
            <result property="productLine" column="product_line" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="INTEGER"/>
            <result property="operationAccountState" column="operation_account_state" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        user_name,
        pwd,
        name,
        affiliation,
        product_line,
        role,
        gender,
        email,
        phone_number,
        operation_account_state
    </sql>

    <!-- 添加运营账号信息 -->
    <insert id="insertOperatingAccountInfo" parameterType="com.macro.ob.pojo.OperatingAccount">
        insert into macrodb.operating_account(<include refid="Base_Column_List" />)
        values(#{userName},"123456",#{name},#{affiliation},#{productLine},#{role},#{gender},#{email},#{phoneNumber},"启用");
    </insert>

    <!--  按照运营账号编码删除运营账号信息  -->
    <delete id="deleteOperatingAccountInfoById" parameterType="com.macro.ob.pojo.OperatingAccount">
        delete from macrodb.operating_account
        <where>
            operation_account_id in
                <foreach item="operationAccountId" collection="operationAccountIds" open="(" separator="," close=")">
                    #{operationAccountId}
                </foreach>
        </where>
    </delete>

    <!--  修改运营账号的信息  -->
    <update id="updateOperatingAccountInfo" parameterType="com.macro.ob.pojo.OperatingAccount">
        update macrodb.operating_account
        <trim prefix="set" suffixOverrides=",">
            <if test="userName != null">user_name=#{userName},</if>
            <if test="name != null">name=#{name},</if>
            <if test="affiliation != null">affiliation=#{affiliation},</if>
            <if test="role != null" >role=#{role},</if>
            <if test="gender != null" >gender=#{gender},</if>
            <if test="email != null">email=#{email},</if>
            <if test="phoneNumber != null">phone_number=#{phoneNumber},</if>
            <if test="operationAccountState != null">operation_account_state=#{operationAccountState},</if>
            updated_time=now()
        </trim>
        where operation_account_id=#{operationAccountId};
    </update>

    <!-- 查询用户运营账号信息 -->
    <select id="selectOperatingAccountInfoLike" parameterType="com.macro.ob.pojo.OperatingAccount" resultMap="BaseResultMap">
        select operation_account_id,user_name,name,affiliation,role,gender,email,phone_number,operation_account_state
        from macrodb.operating_account
        <where>
            <if test="userName != null">
                user_name like  CONCAT('%',#{userName},'%')
            </if>
            <if test="name != null">
                and name like CONCAT('%',#{name},'%')
                or getPY(#{name}) like CONCAT('%',#{name},'%')
            </if>
            <if test="affiliation != null">
                and affiliation=#{affiliation}
            </if>
            <if test="gender != null">
                and gender=#{gender}
            </if>
            <if test="phoneNumber != null">
                and phone_number=#{phoneNumber}
            </if>
            <if test="operationAccountState != null">
                and operation_account_state=#{operationAccountState}
            </if>
        </where>
    </select>

    <select id="selectOperatingAccountInfoByUserName" parameterType="com.macro.ob.pojo.OperatingAccount" resultMap="BaseResultMap">
        select user_name,pwd
        from macrodb.operating_account
        where user_name=#{userName} and pwd=#{pwd};
    </select>

</mapper>
