<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.OrdersMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.Orders">
        <id property="orderCode" column="order_code" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="VARCHAR"/>
        <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
        <result property="obOrderStatus" column="OB_order_status" jdbcType="VARCHAR"/>
        <result property="deliveryMethod" column="delivery_method" jdbcType="VARCHAR"/>
        <result property="outWarehouse" column="out_warehouse" jdbcType="INTEGER"/>
        <result property="inWarehouse" column="in_warehouse" jdbcType="INTEGER"/>
        <result property="deliveryAddress" column="delivery_address" jdbcType="VARCHAR"/>
        <result property="receiver" column="receiver" jdbcType="VARCHAR"/>
        <result property="contactNumber" column="contact_number" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="dealerCode" column="dealer_code" jdbcType="INTEGER"/>
        <result property="dealerName" column="dealer_name" jdbcType="VARCHAR"/>
        <result property="productQuantity" column="product_quantity" jdbcType="INTEGER"/>
        <result property="bulkVolume" column="bulk_volume" jdbcType="DECIMAL"/>
        <result property="aggregateAmount" column="aggregate_amount" jdbcType="DECIMAL"/>
        <result property="invoicePrice" column="invoice_price" jdbcType="DECIMAL"/>
        <result property="orderPreliminaryAudit" column="order_preliminary_audit" jdbcType="VARCHAR"/>
        <result property="orderReviewAudit" column="order_review_audit" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="summaryPlanCode" column="summary_plan_code" jdbcType="INTEGER"/>
        <result property="organizationName" column="organization_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_code
        ,order_type,order_status,
        delivery_method,out_warehouse,
        in_warehouse,delivery_address,receiver,
        contact_number,remarks,dealer_code,
        product_quantity,bulk_volume,aggregate_amount,
        invoice_price,order_preliminary_audit,order_review_audit,
        created_by,created_time,updated_by,
        updated_time,summary_plan_code
    </sql>

    <select id="selectOrderIF" parameterType="orders" resultMap="BaseResultMap">
        select order_code
        ,order_type,order_status,
        delivery_method,out_warehouse,
        in_warehouse,delivery_address,receiver,
        contact_number,remarks,o.dealer_code,
        product_quantity,bulk_volume,aggregate_amount,
        invoice_price,order_preliminary_audit,order_review_audit,
        created_by,o.created_time,o.updated_by,
        o.updated_time,o.summary_plan_code,d.dealer_name,d.organization_name
        from macrodb.orders as o,macrodb.dealer as d
        <where>
            o.dealer_code=d.dealer_code
            <if test="dealerCode != null">
                and o.dealer_code=#{dealerCode}
            </if>

            <if test="orderCode != null">
                and o.order_code=#{orderCode}
            </if>
            <if test="startDate != null">
                and o.created_time <![CDATA[>=]]> #{startDate}
            </if>

            <if test="endDate != null">
                and o.created_time <![CDATA[<=]]> #{endDate}
            </if>
            <if test="dealerCode != null">
                and o.dealer_code=#{dealerCode}
            </if>
--             and order_status="提交"
        </where>
        order by created_time asc
    </select>



    <update id="updateOrderBy" parameterType="orders">
        update orders
        set
        order_status ="待上传附件",
        OB_order_status="已审核"
        <where>
            order_code in
            <foreach collection="codes" close=")" separator="," item="code" open="(" index="index">
                #{code}
            </foreach>
        </where>
    </update>


</mapper>
