<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.Product">
            <id property="productCode" column="product_code" jdbcType="INTEGER"/>
            <result property="productLine" column="product_line" jdbcType="VARCHAR"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productAbbreviation" column="product_abbreviation" jdbcType="VARCHAR"/>
            <result property="uomCode" column="uom_code" jdbcType="INTEGER"/>
            <result property="uomName" column="uom_name" jdbcType="VARCHAR"/>
            <result property="specifications" column="specifications" jdbcType="VARCHAR"/>
            <result property="categoryCode" column="category_code" jdbcType="INTEGER"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="productModel" column="product_model" jdbcType="VARCHAR"/>
            <result property="aftersalesModel" column="aftersales_model" jdbcType="VARCHAR"/>
            <result property="productColor" column="product_color" jdbcType="VARCHAR"/>
            <result property="barCode" column="bar_code" jdbcType="VARCHAR"/>
            <result property="retailPrice" column="retail_price" jdbcType="DECIMAL"/>
            <result property="pickupPrice" column="pickup_price" jdbcType="DECIMAL"/>
            <result property="ticketPrice" column="ticket_price" jdbcType="DECIMAL"/>
            <result property="standardPrice" column="standard_price" jdbcType="DECIMAL"/>
            <result property="premiumRatio" column="premium_ratio" jdbcType="DECIMAL"/>
            <result property="premiumLimit" column="premium_limit" jdbcType="DECIMAL"/>
            <result property="effectiveDate" column="effective_date" jdbcType="TIMESTAMP"/>
            <result property="expirationTime" column="expiration_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="modifyBy" column="modify_by" jdbcType="VARCHAR"/>
            <result property="salesAttributes" column="sales_attributes" jdbcType="VARCHAR"/>
            <result property="gasSpecies" column="gas_species" jdbcType="VARCHAR"/>
            <result property="productAttributes" column="product_attributes" jdbcType="VARCHAR"/>
            <result property="volume" column="volume" jdbcType="DECIMAL"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="length" column="length" jdbcType="DECIMAL"/>
            <result property="width" column="width" jdbcType="DECIMAL"/>
            <result property="height" column="height" jdbcType="DECIMAL"/>
            <result property="isnewProduct" column="isnew_product" jdbcType="VARCHAR"/>
            <result property="issales" column="issales" jdbcType="VARCHAR"/>
            <result property="isstopProduction" column="isstop_production" jdbcType="VARCHAR"/>
            <result property="issuspendProduction" column="issuspend_production" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
            <result property="productStatus" column="product_status" jdbcType="VARCHAR"/>
            <result property="shippingWarehouse" column="shipping_warehouse" jdbcType="VARCHAR"/>

    </resultMap>

    <sql id="Base_Column_List">
        product_code,product_line,product_name,
        product_abbreviation,uom_code,uom_name,
        specifications,category_code,category_name,
        product_model,aftersales_model,product_color,
        bar_code,retail_price,pickup_price,
        ticket_price,standard_price,premium_ratio,
        premium_limit,effective_date,expiration_time,
        modify_time,modify_by,sales_attributes,
        gas_species,product_attributes,volume,
        weight,length,width,
        height,isnew_product,issales,
        isstop_production,issuspend_production,create_time,
        update_time,remarks,product_status,
        shipping_warehouse
    </sql>

    <!--OB经营后台：按条件查询产品信息-->
    <select id="selectAllByCondition" resultMap="BaseResultMap">
        select product_code,product_line,product_name,
        product_abbreviation,uom_code,uom_name,
        specifications,category_code,category_name,
        product_model,aftersales_model,product_color,
        bar_code,retail_price,pickup_price,
        ticket_price,standard_price,premium_ratio,
        premium_limit,effective_date,expiration_time,
        create_by,modify_time,modify_by,sales_attributes,
        gas_species,product_attributes,volume,
        weight,length,width,height,isnew_product,issales,
        isstop_production,issuspend_production,create_time,
        update_time,remarks,product_status,shipping_warehouse
        from product
        <where>
            <if test="productCode !=null">
                 product_code=#{productCode}
            </if>
            <if test="productName !=null">
                and product_name like CONCAT("%",#{productName},"%")
                or getPY(product_name) like CONCAT(#{productName},"%")
                or to_pinyin(product_name) like CONCAT(#{productName},"%")
            </if>
            <if test="categoryName !=null">
                and category_name like CONCAT("%",#{categoryName},"%")
                or getPY(category_name) like CONCAT(#{categoryName},"%")
                or to_pinyin(category_name) like CONCAT(#{categoryName},"%")
            </if>
            <if test="productModel !=null">
                and product_model like CONCAT("%",#{productModel},"%")
            </if>
            <if test="categoryCode !=null">
                and category_code=#{categoryCode}
            </if>
            <if test="productStatus !=null">
                and product_status=#{productStatus}
            </if>
            <if test="isnewProduct !=null">
                and isnew_product=#{isnewProduct}
            </if>
            <if test="issales !=null">
                and issales=#{issales}
            </if>
            <if test="isstopProduction !=null">
                and isstop_production=#{isstopProduction}
            </if>
        </where>
    </select>

    <!--OB经营后台：溢价维护，修改溢价-->
    <update id="updateAllByProductCode" parameterType="com.macro.ob.pojo.Product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="premiumRatio  != null">premium_ratio=#{premiumRatio},</if>
            <if test="premiumLimit  != null">premium_limit=#{premiumLimit},</if>
            <if test="effectiveDate  != null">effective_date=#{effectiveDate},</if>
            <if test="expirationTime  != null">expiration_time=#{expirationTime},</if>
            <if test="modifyBy !=null">modify_by=#{modifyBy}</if>
        </trim>
        where product_code=#{productCode}
    </update>

    <!--OB运营后台：查看溢价历史记录-->
    <select id="selectRecordsByChange" resultMap="BaseResultMap">
        select premium_ratio,premium_limit,effective_date,
               expiration_time,create_time,create_by,
               modify_time,modify_by
        from product,operating_account
        where product_code=#{productCode}
    </select>

    <select id="selectProductByOrderCode" resultMap="BaseResultMap">
        select  p.product_code,product_line,product_name,
                product_abbreviation,uom_code,uom_name,
                specifications,category_code,category_name,
                product_model,aftersales_model,product_color,
                bar_code,retail_price,pickup_price,
                ticket_price,standard_price,premium_ratio,
                premium_limit,effective_date,expiration_time,
                modify_time,modify_by,sales_attributes,
                gas_species,product_attributes,volume,
                weight,length,width,
                height,isnew_product,issales,
                isstop_production,issuspend_production,create_time,
                update_time,remarks,product_status,
                shipping_warehouse
        from product as p, order_product as op
        where op.order_code=#{orderCode};
    </select>


    <!--添加可售产品信息-->
    <insert id="addProduct">
        INSERT INTO product
        (product_code,product_model,product_name,
         category_name,gas_species,product_attributes,
         remarks)
        VALUES
        <foreach collection ="products" item="product" separator ="," >
            (#{product.productCode},#{product.productModel},#{product.productName},
            #{product.categoryName},#{product.gasSpecies},#{product.productAttributes},
            #{product.remarks})
        </foreach >
    </insert>
    <!--删除单个可售产品信息-->
    <delete id="delProductById">
        delete from product where product_code = #{productCode};
    </delete>
    <!--批量删除可售产品信息-->
    <delete id="delProductAll">
        delete from product where
        product_code in
        <foreach collection="products" item="product" separator="," open="(" close=")">
            #{product.productCode}
        </foreach>
    </delete>
    <!--查询可售产品信息-->
    <select id="selectProductByCondition" resultMap="BaseResultMap" >
        select product_code,product_name,product_model,category_name,remarks
        from product
        <where>
            <if test="productCode != null">
                and product_code like concat('%', #{productCode},'%')
            </if>
            <if test="productName != null and productName != ''">
                and product_name like concat('%', #{productName},'%')
            </if>
            <if test="categoryName != null and categoryName != ''">
                and category_name like #{categoryName}
            </if>
        </where>
    </select>

</mapper>
