<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.RequisitionInfoMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.RequisitionInfo">
            <id property="requisitionCode" column="requisition_code" jdbcType="INTEGER"/>
            <result property="requisitionType" column="requisition_type" jdbcType="VARCHAR"/>
            <result property="outWarehouseCode" column="out_warehouse_code" jdbcType="INTEGER"/>
            <result property="outWarehouseName" column="out_warehouse_name" jdbcType="VARCHAR"/>
            <result property="inWarehouseCode" column="in_warehouse_code" jdbcType="INTEGER"/>
            <result property="inWarehouseName" column="in_warehouse_name" jdbcType="VARCHAR"/>
            <result property="productCode" column="product_code" jdbcType="INTEGER"/>
            <result property="requisitionNumber" column="requisition_number" jdbcType="INTEGER"/>
            <result property="productUnit" column="product_unit" jdbcType="VARCHAR"/>
            <result property="outOrganizationCode" column="out_organization_code" jdbcType="INTEGER"/>
            <result property="inOrganizationCode" column="in_organization_code" jdbcType="INTEGER"/>
            <result property="outOrganizationName" column="out_organization_name" jdbcType="VARCHAR"/>
            <result property="inOrganizationName" column="in_organization_name" jdbcType="VARCHAR"/>
            <result property="initiator" column="initiator" jdbcType="VARCHAR"/>
            <result property="deliverStyle" column="deliver_style" jdbcType="VARCHAR"/>
            <result property="dealerCode" column="dealer_code" jdbcType="INTEGER"/>
            <result property="dealerName" column="dealer_name" jdbcType="VARCHAR"/>
            <result property="consignee" column="consignee" jdbcType="VARCHAR"/>
            <result property="consigneePhone" column="consignee_phone" jdbcType="VARCHAR"/>
            <result property="consigneeAddress" column="consignee_address" jdbcType="VARCHAR"/>
            <result property="consigneeIdentity" column="consignee_identity" jdbcType="VARCHAR"/>
            <result property="requisitionTotalVolume" column="requisition_total_volume" jdbcType="DECIMAL"/>
            <result property="sendCity" column="send_city" jdbcType="VARCHAR"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="orderCode" column="order_code" jdbcType="INTEGER"/>
            <result property="money" column="money" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">
        requisition_code,requisition_type,out_warehouse_code,
        out_warehouse_name,in_warehouse_code,in_warehouse_name,
        product_code,requisition_number,product_unit,
        out_organization_code,in_organization_code,out_organization_name,
        in_organization_name,initiator,deliver_style,
        dealer_code,dealer_name,consignee,
        consignee_phone,consignee_address,consignee_identity,
        requisition_total_volume,send_city,note,
        created_time,updated_time,order_code,
        money
    </sql>
    <select id="RequisitionInfoSelect" parameterType="com.macro.ob.pojo.RequisitionInfo" resultType="com.macro.ob.pojo.RequisitionInfo">
        select a.requisition_code,a.created_time,a.requisition_type,a.out_warehouse_code,
               a.out_warehouse_name,a.in_warehouse_code,a.in_warehouse_name,
               a.product_code,p.product_name,p.category_name,a.requisition_number,
               a.product_unit,a.requisition_total_volume from requisition_info as a,product as p
               <where>
                   a.product_code=p.product_code
                   <if test="requisitionCode != null">
                       AND a.requisition_code like concat('%', #{requisitionCode},'%')
                   </if>
                   <if test="productCode != null">
                       AND a.product_code like concat('%', #{productCode},'%')
                   </if>
                   <if test="productName != null">
                       AND p.product_name like concat('%', #{productName},'%')
                   </if>
                   <if test="startTime != null">
                       AND a.created_time <![CDATA[ >=]]> #{startTime}
                   </if>
                   <if test="stopTime != null">
                       AND a.created_time &lt;= #{stopTime}
                   </if>
                   <if test="outWarehouseName != null">
                       AND a.out_warehouse_name like concat('%', #{outWarehouseName},'%')
                   </if>
                   <if test="inWarehouseName != null">
                       AND a.in_warehouse_name like concat('%', #{inWarehouseName},'%')
                   </if>
                   <if test="categoryName != null">
                       AND p.category_name like concat('%', #{categoryName},'%')
                   </if>
                   <if test="initiator != null">
                       AND a.initiator like concat('%', #{initiator},'%')
                   </if>
                   <if test="requisitionType != null">
                       AND a.requisition_type like concat('%', #{requisitionType},'%')
                   </if>

               </where>


    </select>
    <select id="ViewDetails" resultType="requisitionInfo" parameterType="requisitionInfo">
        select created_time,requisition_code,out_organization_code,in_organization_code,
               out_organization_name,in_organization_name,out_warehouse_code,
               out_warehouse_name,in_warehouse_code,in_warehouse_name,initiator,
               deliver_style,dealer_code,dealer_name,consignee,consignee_phone,
               consignee_address,consignee_identity,requisition_total_volume,
               requisition_number,send_city,organization_name,business_units,note
               from  requisition_info
               where requisition_code=#{requisitionCode}
    </select>
    <select id="selectInWarehouseName" parameterType="requisitionInfo" resultType="string">
        select warehouse_name
        from warehouse_info
        where warehouse_code=#{inWarehouseCode};
    </select>
    <select id="selectOutWarehouseName" parameterType="requisitionInfo" resultType="string">
        select warehouse_name
        from warehouse_info
        where warehouse_code=#{outWarehouseCode};
    </select>
    <select id="selectInOrganizationName" parameterType="requisitionInfo" resultType="string">
        select organization_name
        from organization
        where category_code=#{inOrganizationCode}
    </select>
    <select id="selectOutOrganizationName" parameterType="requisitionInfo" resultType="string">
        select organization_name
        from organization
        where category_code=#{outOrganizationCode}
    </select>
    <select id="selectDealerName" resultType="string" parameterType="requisitionInfo" >
        select dealer_name
        from dealer
        where dealer_code=#{dealerCode}
    </select>
    <insert id="insertName" parameterType="requisitionInfo">
        insert into requisition_info (created_time,requisition_code,out_organization_code,in_organization_code,
                                      out_organization_name,in_organization_name,out_warehouse_code,
                                      out_warehouse_name,in_warehouse_code,in_warehouse_name,initiator,
                                      deliver_style,dealer_name,dealer_code,consignee,consignee_phone,
                                      consignee_address,consignee_identity,requisition_total_volume,
                                      requisition_number,send_city,organization_name,business_units,note)
                                      values
                                      (#{createdTime},#{requisitionCode},#{outOrganizationCode},#{inOrganizationCode},
                                       #{outOrganizationName},#{inOrganizationName},#{outWarehouseCode},#{outWarehouseName},
                                       #{inWarehouseCode},#{inWarehouseName},#{initiator},#{deliverStyle},#{dealerName},
                                       #{dealerCode},#{consignee},#{consigneePhone},#{consigneeAddress},#{consigneeIdentity},
                                       #{requisitionTotalVolume},#{requisitionNumber},#{sendCity},#{organizationName},#{businessUnits},#{note})
    </insert>

</mapper>
