<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ob.mapper.WarehouseInfoMapper">

    <resultMap id="BaseResultMap" type="com.macro.ob.pojo.WarehouseInfo">
            <id property="warehouseCode" column="warehouse_code" jdbcType="INTEGER"/>
            <result property="warehouseName" column="warehouse_name" jdbcType="VARCHAR"/>
            <result property="warehouseStatus" column="warehouse_status" jdbcType="VARCHAR"/>
            <result property="linkman" column="linkman" jdbcType="VARCHAR"/>
            <result property="contactPhone" column="contact_phone" jdbcType="VARCHAR"/>
            <result property="warehouseAddress" column="warehouse_address" jdbcType="VARCHAR"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        warehouse_code,warehouse_name,warehouse_status,
        linkman,contact_phone,warehouse_address,
        updated_time,created_time
    </sql>
    <!--查询仓库信息-->
    <select id="selectByCondition" resultMap="BaseResultMap">
        select warehouse_code,warehouse_name,warehouse_status,
        linkman,contact_phone,warehouse_address from warehouse_info
        <where>
            <if test="warehouseCode != null">
                and warehouse_code like concat('%', #{warehouseCode},'%')
            </if>
            <if test="warehouseName != null and warehouseName != ''" >
                and warehouse_name like concat('%', #{warehouseName},'%')
            </if>
            <if test="linkman != null and linkman != ''" >
                and linkman like concat('%', #{linkman},'%')
            </if>
        </where>
    </select>
</mapper>
