<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ocp.mapper.DealerMapper">

    <resultMap id="BaseResultMap" type="com.macro.ocp.pojo.Dealer">
            <id property="dealerCode" column="dealer_code" jdbcType="INTEGER"/>
            <result property="dealerName" column="dealer_name" jdbcType="VARCHAR"/>
            <result property="dealerAbbreviation" column="dealer_abbreviation" jdbcType="VARCHAR"/>
            <result property="organizationName" column="organization_name" jdbcType="VARCHAR"/>
            <result property="dealerCategory" column="dealer_category" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="creditLine" column="credit_line" jdbcType="DECIMAL"/>
            <result property="shipmentQuota" column="shipment_quota" jdbcType="DECIMAL"/>
            <result property="ocpActualBalance" column="ocp_actual_balance" jdbcType="DECIMAL"/>
            <result property="tradeBookBalance" column="trade_book_balance" jdbcType="DECIMAL"/>
            <result property="ispremium" column="ispremium" jdbcType="TINYINT"/>
            <result property="deductionProportion" column="deduction_proportion" jdbcType="DECIMAL"/>
            <result property="alertAmount" column="alert_amount" jdbcType="DECIMAL"/>
            <result property="paidStockDeposit" column="paid_stock_deposit" jdbcType="DECIMAL"/>
            <result property="accountCode" column="account_code" jdbcType="INTEGER"/>
            <result property="isdelete" column="isdelete" jdbcType="TINYINT"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        dealer_code,dealer_name,dealer_abbreviation,
        organization_name,dealer_category,status,
        credit_line,shipment_quota,ocp_actual_balance,
        trade_book_balance,ispremium,deduction_proportion,
        alert_amount,paid_stock_deposit,account_code,
        isdelete,created_time,updated_time
    </sql>
</mapper>
