<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ocp.mapper.DealerAccountNumberMapper">

    <resultMap id="BaseResultMap" type="dealerAccountNumber">
        <id property="accountCode" column="account_code" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="contacts" column="contacts" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="CHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="dealerStatus" column="dealer_status" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="modifiedBy" column="modified_by" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="parentAccountCode" column="parent_account_code" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        account_code
        ,user_name
        ,contacts
        ,gender
        ,phone_number
        ,email
        ,remarks
        ,dealer_status
        ,created_by
        ,created_time
        ,updated_time
        ,modified_by
        ,password
        ,parent_account_code
        ,role
    </sql>
    <!--    查询账户信息-->
    <select id="selectAccountByCode" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealer_account_number
        where user_name = #{userName}
    </select>
    <!--    更新密码-->
    <update id="updatePassword" parameterType="dealerAccountNumber">
        update dealer_account_number
        set password = #{password}
        where account_code = #{accountCode}
        <trim>
            <if test="parentAccountCode != null and parentAccountCode != ''">
                and parent_account_code = #{parentAccountCode}
            </if>
        </trim>
    </update>
    <!--    新增子账号-->
    <insert id="insertSubAccount" parameterType="dealerAccountNumber">
        insert dealer_account_number( user_name
                                    , contacts
                                    , gender
                                    , phone_number
                                    , email
                                    , remarks
                                    , dealer_status
                                    , created_by
                                    , password
                                    , parent_account_code
                                    , role)
        values ( #{userName}
               , #{contacts}
               , #{gender}
               , #{phoneNumber}
               , #{email}
               , #{remarks}
               , #{dealerStatus}
               , #{createdBy}
               , #{password}
               , #{parentAccountCode}
               , #{role})
    </insert>
    <!-- 删除一个子账号   -->
    <delete id="deleteSubAccount" parameterType="dealerAccountNumber">
        delete
        from dealer_account_number
        where user_name = #{userName}
          and parent_account_code = #{parentAccountCode}
    </delete>
    <!--    查询子账号-->
    <select id="selectSubAccountByParent" parameterType="dealerAccountNumber" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dealer_account_number
        <where>
            <if test="parentAccountCode != null and parentAccountCode != ''">
                and parent_account_code = #{parentAccountCode}
            </if>
            <if test="userName != null and userName != ''">
                and user_name like concat('%',#{userName},'%')
            </if>
            <if test="dealerStatus != null and dealerStatus != ''">
                and dealer_status = #{dealerStatus}
            </if>
            <if test="role != null and role != ''">
                and role = #{role}
            </if>
            <if test="contacts != null and contacts != ''">
                and contacts = #{contacts}
            </if>
            <if test="phoneNumber != null">
                and phone_number = #{phoneNumber}
            </if>
            <if test="gender != null and gender != ''">
                and gender = #{gender}
            </if>
        </where>
    </select>

    <!--    判断账号是否存在-->
    <select id="countSubAccount" parameterType="string" resultType="int">
        select count(account_code)
        from dealer_account_number
        where user_name like concat('%', #{userName}, '%')
    </select>
    <!--    更新子账号信息-->
    <update id="updateSubAccount" parameterType="dealerAccountNumber">
        update dealer_account_number
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="contacts != null and contacts != ''">
                contacts = #{contacts},
            </if>
            <if test="role != null and role != ''">
                role = #{role},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks}
            </if>
        </set>
        where account_code = #{accountCode}
        and parent_account_code = #{parentAccountCode}
    </update>
</mapper>
