<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ocp.mapper.OrderProductMapper">
<!--2022/09/02 zhangkein-->
    <resultMap id="BaseResultMap" type="com.macro.ocp.pojo.OrderProduct">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="orderCode" column="order_code" jdbcType="INTEGER"/>
        <result property="productCode" column="product_code" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_code,product_code
    </sql>
<!--插入一条订单关联商品-->
    <insert id="insertOrderProduct" parameterType="map">
        insert into order_product(order_code, product_code)
        values (#{orderCode}, #{productCode})
    </insert>
</mapper>
