<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.ocp.mapper.OrdersMapper">
    <!-- 2022/09/02 zhangkein -->
    <resultMap id="BaseResultMap" type="com.macro.ocp.pojo.Orders">
        <id property="orderCode" column="order_code" jdbcType="INTEGER"/>
        <result property="orderType" column="order_type" jdbcType="VARCHAR"/>
        <result property="orderStatus" column="order_status" jdbcType="VARCHAR"/>
        <result property="obOrderStatus" column="OB_order_Status" jdbcType="VARCHAR"/>
        <result property="deliveryMethod" column="delivery_method" jdbcType="VARCHAR"/>
        <result property="outWarehouse" column="out_warehouse" jdbcType="INTEGER"/>
        <result property="inWarehouse" column="in_warehouse" jdbcType="INTEGER"/>
        <result property="deliveryAddress" column="delivery_address" jdbcType="VARCHAR"/>
        <result property="receiver" column="receiver" jdbcType="VARCHAR"/>
        <result property="contactNumber" column="contact_number" jdbcType="VARCHAR"/>
        <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
        <result property="dealerCode" column="dealer_code" jdbcType="INTEGER"/>
        <result property="productQuantity" column="product_quantity" jdbcType="INTEGER"/>
        <result property="bulkVolume" column="bulk_volume" jdbcType="DECIMAL"/>
        <result property="aggregateAmount" column="aggregate_amount" jdbcType="DECIMAL"/>
        <result property="invoicePrice" column="invoice_price" jdbcType="DECIMAL"/>
        <result property="orderPreliminaryAudit" column="order_preliminary_audit" jdbcType="VARCHAR"/>
        <result property="orderReviewAudit" column="order_review_audit" jdbcType="VARCHAR"/>
        <result property="createdBy" column="created_by" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="summaryPlanCode" column="summary_plan_code" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_code
        ,order_type
        ,order_status

        ,OB_order_Status
        ,delivery_method
        ,out_warehouse
        ,in_warehouse
        ,delivery_address
        ,receiver
        ,contact_number
        ,remarks
        ,dealer_code
        ,product_quantity
        ,bulk_volume
        ,aggregate_amount
        ,invoice_price
        ,order_preliminary_audit
        ,order_review_audit
        ,created_by
        ,created_time
        ,updated_by
        ,updated_time
        ,summary_plan_code
    </sql>

    <!-- 新增一条订单记录   -->
    <insert id="insertOrders" parameterType="orders" useGeneratedKeys="true" keyProperty="orderCode">
        insert into orders( order_type
                          , order_status
                          , delivery_method
                          , out_warehouse
                          , delivery_address
                          , receiver
                          , contact_number
                          , remarks
                          , dealer_code
                          , product_quantity
                          , bulk_volume
                          , aggregate_amount
                          , invoice_price
                          , created_by)
        values ( #{orderType}
               , #{orderStatus}
               , #{deliveryMethod}
               , #{outWarehouse}
               , #{deliveryAddress}
               , #{receiver}
               , #{contactNumber}
               , #{remarks}
               , #{dealerCode}
               , #{productQuantity}
               , #{bulkVolume}
               , #{aggregateAmount}
               , #{invoicePrice}
               , #{createdBy})
    </insert>

    <!--    查询订单信息-->
    <select id="selectOrdersByInfo" parameterType="orders" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from orders
        <where>
            <if test="dealerCode != null and dealerCode != ''">
                and dealer_code = #{dealerCode}
            </if>
            <if test="orderCode != null and orderCode != ''">
                and order_code = #{orderCode}
            </if>
            <if test="orderType != null and orderType != ''">
                and order_type = #{orderType}
            </if>
            <if test="orderStatus != null and orderType != ''">
                and order_status = #{orderStatus}
            </if>
            <if test="startTime != null">
                and created_time >= #{startTime}
            </if>
            <if test="endTime != null">
                and created_time <![CDATA[<=]]> #{endTime}
            </if>
            <if test="startAggregateAmount != null and startAggregateAmount != ''">
                and aggregate_amount >= #{startAggregateAmount}
            </if>
            <if test="endAggregateAmount != null and endAggregateAmount != ''">
                and aggregate_amount <![CDATA[<=]]> #{endAggregateAmount}
            </if>
        </where>
    </select>
    <!--更新订单信息-->
    <update id="updateOrder" parameterType="orders">
        update orders
        <set>
            <if test="orderStatus != null">
                order_status = #{orderStatus},
            </if>
            <if test="deliveryMethod != null">
                delivery_method = #{deliveryMethod},
            </if>
            <if test="outWarehouse != null">
                out_warehouse = #{outWarehouse},
            </if>
            <if test="inWarehouse != null">
                in_warehouse = #{inWarehouse},
            </if>
            <if test="deliveryAddress != null">
                delivery_address = #{deliveryAddress},
            </if>
            <if test="receiver != null">
                receiver = #{receiver},
            </if>
            <if test="contactNumber != null">
                contact_number = #{contactNumber},
            </if>
            <if test="remarks != null">
                remarks = #{remarks},
            </if>
        </set>
        where order_code = #{orderCode}
        and dealer_code = #{dealerCode}
    </update>
</mapper>
